<?xml version="1.0"?>
<!--
/**
 * @category   Tryout
 * @package    Tryout_CustomCatalog
 * @author     sam.demo@gmail.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="tryout_customcatalog" frontName="tryout_customcatalog">
            <module name="Tryout_CustomCatalog" />
        </route>
    </router>
</config>